.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-end;
    align-items: stretch;
}
form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-end;
    align-items: stretch;

}