.custom-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

  
  
  .custom-sidebar {
    display: flex;
    background-color: rgba(11, 7, 7, 0.348);
    
    width: 20%;
    position: fixed;
    height: 100vh;
    border-radius: 2rem;
  }
  
  .custom-content {
    
    margin-left: 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }