.card-img-top{
    width: 30rem;
}


.card{
    margin-top: 2rem;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin-left: 9rem;
    width: 100%;
}