
<img src="assets/pngwing.com.png" width="100px" alt="">
<div class="card-deck">
  
    <div class="card" *ngFor="let track of tracks">
      <img [src]="track.album.images[0].url" class="card-img-top" alt="Portada del álbum">
      <div class="card-body">
        <h5 class="card-title">{{ track.name }}</h5>
        <p class="card-text">Artista: {{ track.artists[0].name }}</p>
        <p class="card-text">Álbum: {{ track.album.name }}</p>
        <p class="card-text">Fecha de lanzamiento: {{ track.album.release_date }}</p>
        <p class="card-text">Duración: {{ track.duration_ms }} ms</p>
        <p class="card-text">Popularidad: {{ track.popularity }}</p>
        <audio controls>
          <source [src]="track.preview_url" type="audio/mpeg">
          Tu navegador no soporta la reproducción de audio.
        </audio>
        
      </div>
    </div>
  </div>
  